@charset "ISO-8859-1";


body {
    margin: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.contenedor::-webkit-scrollbar {
    width: 8px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.3);
    border-radius: 4px;
}

.contenedor {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 80px); /* ajustá 80px si tu navbar es más alta */
  overflow-y: auto;
  padding: 20px;
}

.cajaAlargada {
  width: 80%;
  height: 150px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  margin-top: 40px;
  margin-bottom: 30px;
}

.imagenact {
  border-radius: 15px 0 0 15px;
  width: 100%;
  height: auto;
}

.caja1 {
  width: 15%;
  display: flex;
  flex-direction: column;
  background-position: top-left;
  border-radius: 12px 0 0 12px;
  background-size: 100%;
  overflow: hidden;
}

.caja2 {
  width: 68%;
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.caja3 {
  width: 22%;
  display: flex;
  justify-content: center;
  flex-direction: column; 
}


.titulo {
  color: #d95126;
  font-size: 18px;
}

.diayhorario {
  display: flex;
  justify-content: center;
}

.diayhorario span {
  padding: 3px;
}

.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.cupo {
  display: flex;
  justify-content: center;
}

