@charset "ISO-8859-1";



.contenedor {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.formulario {
	width: 800px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: left;
	border: 2px solid black;
	margin-top: 50px;
	padding: 10px;
}


label{
	padding: 3px 3px 0 3px; 
}


input {
	background-color: rgb(192, 192, 192);
	flex:2; 
	width: 100%;
}

input.horario{
	flex: 0 1 auto ;
	width: 100px;
}

.campo {
	align-items:left;
	display: flex;
	padding: 8px;
	
}

.titulo{
	font-size : 24px;
	padding:8px;
}

.anaranjado{
	color: #d95126;
}

select {
	background-color: rgb(192, 192, 192);
	border-radius: 3px;
    padding: 3px;
}

#imagenU{
	background-color: white;
}



.final {
display: flex;
	align-items: center;
	flex-direction: column;
	padding: 40px 0 8px 0;
}

