@charset "ISO-8859-1";

/* BODY */
body {
    background-image: url(/GYM/img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    overflow-y: auto; 
    font-family: "Ubuntu", sans-serif;
    height: 100%;
}
