/* BODY */
body {
    background-color: #1e2128;
    background-image: none;
    font-family: "Ubuntu", sans-serif;
    height: 100%;
}

.reservas-card,
.filtros-card {
    background-color: #2c3040;
}
