@charset "ISO-8859-1";



.contenedor {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.formulario {
	width: 750px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: left;
	border: 2px solid black;
	margin-top: 50px;
	padding: 10px;
}

.headerForm {
	display:flex;
	align-items:left;
}

.headerForm p {
	margin: 0;
	font-size: 28px;
	padding: 20px;
	color: black;
	font-weight: bold;
	width: 100%;
}

.anaranjado{
	color: #d95126;
}

.titulo p {
	font-size: 28px;
}

label{
	padding: 3px 3px 0 3px; 
}


input {
	background-color: rgb(192, 192, 192);
	flex:2; 
	width: 100%;
	margin-left: 2px;

}

input.tipoACT{
	width : 120px;
}

input.horario{
	flex: 0 1 auto ;
	width: 100px;
}

input.cupo{
	width: 25px;
}

.campo {
	align-items:left;
	display: flex;
	padding: 8px;
	
}

.titulo{
	font-size : 24px;
	padding:8px;
}



select {
	background-color: rgb(192, 192, 192);
	border-radius: 5px;
    padding: 3px;
    border: none;
    margin-left: 3px;
    margin-right: 3px;
}

.imgMuestra {
	height: 200px;
	width: 200px;
	border: solid 3px;
	border-radius: 20px;
	margin: 3px;
}

#imagenU{
	background-color: white;
}

.final {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 40px 0 8px 0;
}

.bottomForm{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:center;
}

/* Seleccionar Imagen Perfil */

.opcionimg{
	width:100px;
	height:100px;
	border: 2px solid black;
	margin: 5px;
}

.opcionesimg{
	display:flex;
	flex-direction:row;
	background-color: rgb(192, 192, 192);
	padding: 5px;
	border-radius: 5px;
}

.opcion{
	display:flex;
	align-items:center;
	flex-direction: column;
}
