@charset "ISO-8859-1";

.fondo-sin-facturas{
	background-color: white;
	text-align: center;
	padding: 10px;
	
}

th{
	background-color: #d95126 !important;
	color: white !important ;
}

table{
	margin-top: 20px !important;
	border-radius: 10px !important;
}