@charset "ISO-8859-1";

.contenedor {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.cajaModificar {
	width: 700px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	background-color: white;
	align-items: left;
	border: 2px solid black;
	margin: 40px;
	padding: 10px;
}

.headerForm {
	display:flex;
	align-items:left;
}

.headerForm p {
	margin: 0;
	font-size: 28px;
	padding: 20px;
	color: black;
	font-weight: bold;
	width: 100%;
}

.anaranjado {
    color: #d95126;
}

.titulo {

}

.titulo p {
	font-size: 28px;
}

.campo {
	display: flex;
	flex-direction: row;
	justify-content:left;
	align-items: center;
	padding: 8px;
}

.campoColumn{
	display: flex;
	flex-direction: column;
	justify-content:left;
	align-items: left;
	padding: 8px;
}

.campoCentrado{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	padding: 8px;
}


input {
	background-color: rgb(192, 192, 192);
	margin-left: 5px;
}
.inputCorto{
	width: 50px;
}
.inputMediano{
	width: 120px;
}
.inputLargo {
	flex: 2 0;
}

select {
	background-color: rgb(192, 192, 192);
	border-radius: 5px;
    padding: 5px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}

.imgMuestra {
	height: 200px;
	width: 200px;
	border: solid 3px;
	border-radius: 20px;
	margin: 3px;
}


.bottomForm{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:center;
}

/* Seleccionar Imagen Perfil */

.opcionimg{
	width:100px;
	height:100px;
	border: 2px solid black;
	margin: 5px;
}

.opcionesimg{
	display:flex;
	flex-direction:row;
	background-color: rgb(192, 192, 192);
	padding: 5px;
	border-radius: 5px;
}

.opcion{
	display:flex;
	align-items:center;
	flex-direction: column;
}