@charset "ISO-8859-1";

body{
	background-attachment:fixed;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caja {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.tarjetasProducto{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10 px;
  flex-wrap: wrap;
}

.cajaProducto {
  width: 350px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
  background-color: white;
  margin : 20px;
}

.contenedorImg{
	width:294px;
	height:312px;
	display: flex;
	align-items: center;
	justify-content:center;
}

.imagen {
 max-width: 100%;
 max-height: 100%;
 height: auto;
}

.nombre {
  display: flex;
  flex-direction: row;
  padding: 3px;
  font-size: 22px;
}

.precio {
  font-size: 22px;
  padding: 3px;
}

.botones {
  display: flex;
  flex-direction: row;
  padding: 3px;
}

/* =========================================
   ESTILOS PARA LA SECCIÓN DE FILTROS 
   ========================================= */
.seccion-filtros {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    width: 85%; /* Para que se alinee con el contenedor de productos */
}

.form-filtro {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    width: 100%;
    max-width: 800px;
}

.input-filtro {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.input-filtro input, .input-filtro select {
    background-color: rgb(192, 192, 192);
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
}

.input-filtro select {
    cursor: pointer;
}